.title {
  display: flex;
  align-items: center;
  justify-content: center;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.app {
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}

body {
  background: #F5EDED;
  color: #222;
  font-family: "Montserrat", sans-serif;
  margin: auto;
  min-height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.row_evenly {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.column_between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.colorPrimary {
  color: #6482AD;
}

.colorSecondary {
  color: #7FA1C3;
}

.colorTertiary {
  color: #E2DAD6;
}

.colorQuaternary {
  color: #F5EDED;
}

.colorWhite {
  color: #ffffff;
}

.colorBlack {
  color: black;
}

.backWhite {
  background-color: #ffffff;
}

.backPrimary {
  background-color: #6482AD
}

.backSecondary {
  background-color: #7FA1C3
}

.backTertiary {
  background-color: #E2DAD6
}

.backquaternary {
  background-color: #F5EDED
}

.noDecoration {
  text-decoration: none;
}

.noBorder {
  border: none;
}

.bold {
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}